<div class="container">
    <div class="content">
      <p-card>
        <div class="p-fluid grid">
          <h1>Registration</h1>
          <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div>
                <span class="p-float-label">
                  <input formControlName="firstname" type="text"  pInputText>
                  <label for="inputtext">First Name</label>
                </span>
              </div><br>
              <div>
                <span class="p-float-label">
                  <input formControlName="lastname" type="text"  pInputText>
                  <label for="inputtext">Last Name</label>
                </span>
              </div><br>
              <div>
                <span class="p-float-label">
                  <input formControlName="username" type="text"  pInputText>
                  <label for="inputtext">Username</label>
                </span>
              </div><br>
            <div>
              <span class="p-float-label">
                <input formControlName="email" type="text" pInputText>
                <label for="inputtext">Email</label>
              </span>
            </div>
            <br>
            <div>
              <span class="p-float-label">
                <input formControlName="password" type="password" pInputText>
                <label for="password">Password</label>
              </span>
            </div>
            <br>
            <button pButton pRipple type="submit" label="Login"></button>&nbsp;
          </form>
          <div>
            <p style="text-align: center; ">
             Already have account ?<a routerLink="/login">Login</a></p>
          </div>
        </div>
        <br>
      </p-card>
    </div>
  </div>

